.editors-img{
  width: 160px;
  height: 160px;
  border-radius: 8px;
}
.editor-container{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 20px;
  width: 85vw;
}
.card h1 {
  font-size: 18px;
  margin-top: 8px;
  text-align: center;
  color: white;
  font-family: Roboto;
}

.card {
  width: 160px;
  /* flex-grow: 1; */
}
.load{
  color: white;

}
